<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.project.provide.projectmanager.mapper.ProjectFillInMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid,
        djr,
        djsj,
        gxr,
        gxsj,
        scbj,
        pxbj,
        bz,
        tzzd,
        project_name, project_territory, project_type, recommend_department, apply_for_department, social_unified_credit_code, declare_content_attachment, project_leader, project_leader_phone, declare_id, project_attachment, release_status, declare_time, declare_status, release_time, to_meeting
    </sql>

    <select id="getProjectFillInById" resultType="com.zz.project.provide.projectmanager.entity.ProjectFillIn">
        select
        <include refid="Base_Column_List"/>
        from zz_project_fill_in where sid = #{id} and scbj=0
    </select>

    <select id="getProjectFillInPageList" parameterType="com.zz.project.provide.projectmanager.param.ProjectFillInPageParam" resultType="com.zz.project.provide.projectmanager.entity.ProjectFillIn">
        select
        <include refid="Base_Column_List"/>
        from zz_project_fill_in


<where>
            1=1
            and scbj = 0
            <if test="param.beginDate != null and param.beginDate != ''">
                and to_char( djsj, 'yyyy-mm-dd') >= #{params.startTime}
            </if>
            <if test="param.endDate != null and param.endDate != ''">
                and to_char( djsj , 'yyyy-mm-dd') <= #{params.endTime}
            </if>

                <if test="param.recommendDepartment != null       and param.recommendDepartment != ''     ">
                    and  recommend_department = #{param.recommendDepartment}
                </if>
                <if test="param.applyForDepartment != null       and param.applyForDepartment != ''     ">
                    and  apply_for_department = #{param.applyForDepartment}
                </if>
                <if test="param.socialUnifiedCreditCode != null       and param.socialUnifiedCreditCode != ''     ">
                    and  social_unified_credit_code = #{param.socialUnifiedCreditCode}
                </if>
                <if test="param.declareContentAttachment != null       and param.declareContentAttachment != ''     ">
                    and  declare_content_attachment = #{param.declareContentAttachment}
                </if>
                <if test="param.projectLeader != null       and param.projectLeader != ''     ">
                    and  project_leader = #{param.projectLeader}
                </if>
                <if test="param.projectLeaderPhone != null       and param.projectLeaderPhone != ''     ">
                    and  project_leader_phone = #{param.projectLeaderPhone}
                </if>
                <if test="param.projectAttachment != null       and param.projectAttachment != ''     ">
                    and  project_attachment = #{param.projectAttachment}
                </if>
                <if test="param.releaseStatus != null    ">
                    and  release_status = #{param.releaseStatus}
                </if>
                <if test="param.declareStatus != null    ">
                    and  declare_status = #{param.declareStatus}
                </if>
</where>
    </select>

</mapper>
